<!-- Main list of all items -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>To do List</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
    <nav th:replace="base :: nav"></nav>
    <h3>Let's create your To-Do list!</h3>

    <a href="/add" class="text-decoration-none">Add a ToDo Item</a><br><br>
    <table>
        <tr>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Description</th>
            <th>Completed?</th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.taskName}"></td>
            <td th:text="${todo.dueDate}"></td>
            <td th:text="${todo.priority}"></td>
            <td th:text="${todo.description}"></td>
            <td th:text="${todo.isCompleted}"></td>
            <td>
                <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
                <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a>
                <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <span th:replace="base :: jslinks"></span>

    <script>
        //  Jquery for smooth scrolling
        $('.nav-link, .navbar-brand, .new-button').click(function () {
            var sectionTo = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(sectionTo).offset().top
            }, 1500);
        });
    </script>

</body>
</html>