<!-- show current task in different layout than other tasks. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To-Do Details</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
    <nav th:replace="base :: nav"></nav>

    <h1>To-Do Details</h1>

    <a href="/">Show All Todo Items</a><br><br>

    <!-- This shows the current task -->
    <section class="container text-left">
        Task Name : <span th:text="${todo.taskName}"></span><br>
        Due Date  : <span th:text="${#dates.format(todo.dueDate, 'MM-dd-YY')}"></span><br>
        Priority  : <span th:text="${todo.priority}"></span><br>
        Description : <span th:text="${todo.description}"></span><br>
        Completed? : <span th:text="${todo.isCompleted}"></span><br>
        <a th:href="@{/delete/{id}(id=${todo.id})}">Delete this item</a>
    </section>

    <!-- This shows all tasks including current one -->
    <section class="container text-right">
        <table>
            <tr>
                <th>Task Name</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Desciption</th>
                <th>Completed?</th>
            </tr>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.taskName}"></td>
                <td th:text="${todo.dueDate}"></td>
                <td th:text="${todo.priority}"></td>
                <td th:text="${todo.description}"></td>
                <td th:text="${todo.isCompleted}"></td>
                <td>
                    <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
                    <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a>
                    <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
                </td>
            </tr>
        </table>
    </section>

    <span th:replace="base :: jslinks"></span>
</body>
</html>